body{
  background-color: #e5e5e5;
  font-family: 'Inter', sans-serif;
  width: 1440px;
  height: 1024px;
}
/* logo */
.caja-logo{
  width: 100%;
  position: relative;
  margin: 20px auto;
  padding: 20px 0;
}
#logo-alura{
   position: absolute;
   left: 4%;
   right: 4%;
   top: 4%;
   bottom: 4%;
}
/* caja texto */
.caja-texto-a-encriptar{
  height: 48px;
  width: auto;
  margin-left: 240px;
  margin-top: 168px;
}
.input-texto{
  width: 40%;
  position: relative;
  margin: 20px auto;
  color: #0A3871;
  font-style: Regular;
  font-size: 32px;
  line-height: 48px;
  line-height: 150%;
  text-align: Left;
  border: none;
  background-color: #e5e5e5;
}
.input-texto::placeholder{
  color: #0A3871;
}

/* caja condiciones */
.condiciones{
  height: 18px;
  width: auto;
  left: 24px;
  top: 0px;
  position: relative;
  margin: 635px 751px 0px 240px;  
}
.horizontal li{
  display: inline-block;
}


/* caja botones */ 

.caja-botones{
  height: 67px;
  width: 680px;
  position: relative;
  margin: 16px 520px 72px 240px;
}
.boton-encriptar{
  height: 67px;
  width: 328px;
  border-radius: 24px;
  padding: 24px;
  background-color: #0A3871;
  color: white;
}
.boton-desencriptar{
  height: 67px;
  width: 328px;
  border-radius: 24px;
  padding: 24px;
  background-color:#D8DFE8;
  border-color: #0A3871;
  color: #0A3871;
}

/* caja muñeco y resultados */ 
.caja-resultado{
  position: absolute;
  height: 944px;
  width: 400px;
  left: 1000px;
  top: 40px;
  border-radius: 32px;
  background-color: white;
  font-family: "Inter", sans-serif;
}
.caja-texto-resultado{
  display: none;
  height: 781px;
  width: 336px;
  background-color: white;
  font-size: 24px;
  font-style: normal;
  text-align: left;
  color: #0A3871;
  margin: 32px 32px 0px 32px;
}
.boton-copiar{
  display: none;
  height: 67px;
  width: 336px;
  margin: 32px;
  border-radius: 24px;
  padding: 24px;
  color: #0A3871;
  background-color: white;
  border-color: #0A3871;
}
.muneco{
  height: 304px;
  width: 336px;
  left: 1032px;
  top: 283px;
  margin: 243px 32px 20px 32px;
}
.caja-texto-debajo-muneco{
  height: 122px;
  width: 336px;
  left: 1032px;
  top: 619px;
  margin: 32px auto;
}
.texto-ningun-mensaje{
  font-style: bold;
  font-size: 24px;
  line-height: 29px;
  line-height: 120%;
  text-align: center;
  vertical-align: top;
  color:#343A40;
}
.texto-ingresa-debajo-muneco{
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  line-height: 150%;
  text-align: center;
  vertical-align: Top;
  color: #343A40;
  margin-top: 16px;
}

/* caja pie de página */
footer{
  font-family: "Inter", sans-serif;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.copyrigth{
  color: black;
  font-size: 13px;
  margin-top: 5px;
}